@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:wght@300&display=swap');
@import './blocks/header';
@import './blocks/footer';
@import './blocks/variables';


body {
   background-color: #0E1014;
}

a {
   text-decoration: none;
   color: inherit;
   font-size: 16px;
}

.container {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   max-width: 1440px;
   height: 100vh;
   font-family: 'Inter', sans-serif;
}

.red-light {
   position: absolute;
   width: 311px;
   height: 311px;
   top: 251px;
   left: -102px;
   border-radius: 311px;
   opacity: 0.5;
   background: #961A1A;
   filter: blur(196px);
}

.purple-light {
   position: absolute;
   width: 259px;
   height: 259px;
   top: -154px;
   left: 602px;
   border-radius: 259px;
   opacity: 0.5;
   background: #833AB4;
   filter: blur(196px);
}

.red-ball {
   position: absolute;
   top: 490px;
   left: 838px;
   filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 25%)) blur(2.5px);
}

.red-ball-big {
   position: absolute;
   top: 27px;
   left: 505px;
   filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 25%));
}

.purple-ball {
   position: absolute;
   top: -48px;
   left: 855px;
   filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 25%)) blur(5px);
}

.text-underlining {
   position: relative;
}

.text-underlining:after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   bottom: -3px;
   width: 0;
   height: 1px;
   background-color: $light-text;
   transition: width 0.3s ease-out;
}

.text-underlining:hover:after,
.text-underlining:focus:after {
   width: 100%;
}


.main {
   &__section {

      h1 {
         margin: 0;
         color: $light-text;
         font-size: 48px;
         font-weight: 400;

         span {
            display: block;
            color: $light-text;
            font-size: 48px;
            font-weight: 900;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(90deg, #FCB045 0%, #FF3F78 25%);
         }
      }
   }

   &__button {
      padding: 0;
      width: 262px;
      height: 61px;
      color: $light-text;
      font-size: 16px;
      font-weight: 500;
      background: #4077F3;
      border: none;
   }
}