@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import './blocks/header';
@import './blocks/footer';

$light-text: #E4E5EA;

body {
   background-color: #000;
}

a {
   text-decoration: none;
   color: inherit;
   font-size: 16px;
}

.container {
   margin-left: auto;
   margin-right: auto;
   max-width: 1440px;
   height: 100vh;
   font-family: 'Inter', sans-serif;
   color: $light-text;
}